body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.grid {
    height: 150px;
    width: 150px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 50px;
    width: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}